
/*Tablet*/
@media screen and (max-width: 900px) {

  .card {
    width: 40%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 80px;

  }

}

/*Phone*/
@media screen and (max-width: 600px ) {

  .card {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }

  .heroes {
    margin-right: 50px;
  }

}


/*Desktop*/
@media screen and (min-width: 900px) {

  .card {
    width: 20%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 150px;
  }
}

#hide{
  display: none;
}

.heroes{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative;
  transform:rotateY(var(--rotateY,0));
}


.flip{
  --rotateY:180deg;
}


.theBack{
  backface-visibility: hidden;
  transform:rotateY(180deg);
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  position: relative;
  overflow-y: scroll;

}

.theBack img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.theBack #backText{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;


}

.theBack #backText p{
  font-size: 16px;
  cursor: default;
  overflow-y: scroll;
}

.theBack img:hover{
    cursor: pointer;
}

.theFront img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 70%;
  max-height: inherit;

}

.theFront img:hover{
  cursor: pointer;
  opacity: 100%;
}

.theFront{
  color: white;
  backface-visibility: hidden;
  width: 100%;
  position:absolute;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  display: flex;
}

.container img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.container h4{
  color: white;
  flex-grow: 1;
  cursor: default;
}
