.navbar{
  display: flex;
  padding-left: 50px;

}

.navbar a{
  color: white;
  text-decoration: none;
  font-size: 25px
}

.navbar a:hover{
  color: #B22222;
}

.navbar div{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  flex-grow: 1;
  margin-left: 600px;
  font-family: myFirstFont;

}

.navbar #savedHeroes {
  margin-left: 100px;

}

.navbar #Superheroes{
  cursor: default;
  color:red;
  font-family: myFirstFont;

}

.navbar #my {
  cursor: default;
  color: white;
  font-family: myFirstFont;
}
