.navbar{
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.navbar a{
  color: white;
  text-decoration: none;
  font-size: 25px
}

.navbar a:hover{
  color: #B22222;
}

.navbar #links{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.navbar #savedHeroes {
  margin-left: 100px;
}

.navbar #Superheroes{
  cursor: default;
  color:red;
}

.navbar #my {
  cursor: default;
  color: white;
}

#logo{
  display: flex;
  flex-grow: 1;
}

/*Footer*/
footer{
  display: flex;
  color: white;
  position: fixed;
  bottom: 0;
  flex-direction:column;
  width: 100%;
  background-color: black;
  padding-bottom: 10px;
}

footer .container{
  padding-left: 10vw;
  padding-right: 10vw;
}

footer #logo{
  flex-grow: 2;
}

footer #names{
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

footer .hr{
  border: 1px solid grey;
  opacity: 30%;
  margin-bottom: 0px;
}
