
body{
  background: url(../background.jpg);
}

.search-input{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 50px;
}

.search-input h1{
  color: white;
  text-align: center;
  cursor: default;
}

.search-input input{
  width: 300px;
  height: 40px;
  align-self: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  font-size: 20px;
  margin-top: 30px;
  color: white;
  padding-left: 10px;

}

.search-input #res{
  color: white;
  align-self: center;
  margin-right: 80px;
  display: flex;
}


.search-button{
  display: flex;
  justify-content: center;
}

.search-button button{
  height: 45px;
  width: 50px;
  margin-top: 28px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #B22222;
  color: white;
  border: none;
  font-size: 20px;
}

.search-button button:hover{
  background-color: darkred;
}


#herocard{

}
